# App
# ------------------------------------------
NODE_ENV=
NEXT_PUBLIC_BASE_URL=

# Supabase
# ------------------------------------------
DATABASE_URL="postgresql://postgres.[project]:[password]@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[project]:[password]@aws-0-us-east-2.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL=https://[project].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Google Client
# ------------------------------------------
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# AWS S3 Configuration
# ------------------------------------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-west-1
AWS_S3_BUCKET_NAME=
AWS_CLOUDFRONT_URL=